

<h1> Add a new track </h1>

<% if @track && @track.errors.any? %>
  <div>
    <strong> Some issues with your submission, please fix them: </strong>
    <ul>
      <% @track.errors.full_messages.each do |track| %> 
      <li> <%= track %></li>
    <% end %>
    </ul>
  </div>

<% end %> 



<form method="post" action="/tracks"> 
  <div> 
    <label> Artist </label> 
     <input type="text" name="artist" placeholder="Name of Artist" class="form-control" value="<%= @track && @track.artist %>"> 
  </div>

  <div> 
    <label> Song Title </label>
    <input type="text" name="title" placeholder="Song Title" class ="form-control" value="<%= @track && @track.title %>"> 
  </div>

  <div> 
    <label> URL </label>
    <input type="url" name="url" placeholder="Song URL" class="form-control" value="<%= @track && @track.url %>"> 
  </div>

  <br/>

  <div> 
    <input type="submit" value="Submit"> 
  </div>
</form>