<h1> Add a new track </h1>

<form method="post" action="/tracks"> 
  <div> 
    <label> Artist </label>
    <input type="text" name="artist"> 
  </div>

  <div> 
    <label> Song Title </label>
    <input type="text" name="title"> 
  </div>

  <div> 
    <label> URL </label>
    <input type="text" name="url"> 
  </div>

  <div> 
    <input type="submit" value="Submit"> 
  </div>
</form>