

<h1> Login </h1>

  <% if @messages %>
    <div> 
    <strong> Invalid Login </strong>
    <ul>
      <% @messages.each do |message| %>
      <li> <%= message %> </li>
    </ul>
      <% end %>  
    </div>

  <% end %>


<form method="post" action="/login"> 
  
  <div> 
    <label for="email"> Email </label>
    <input id="email" type="text" name="email" placeholder="Your Email" class="form-control" value="<%= @user && @user.email %>" required>
    <br/>
  </div>

  <div> 
    <label for="password"> Password </label>
    <input id="password" type="password" name="password" placehholder="Your Password" class="form-control" value="<%= @user && @user.password %>" required>
    <br/>
  </div>

  <div> 
    <button type="submit" value="Submit"> Submit </button>
  </div>

</form>
