

<h1> Sign Up </h1>

<form method="post" action="/signup"> 
  
  <div> 
    <label for="email"> Email </label>
    <input id="email" type="text" name="email" placeholder="Your Email" class="form-control" value="<%= @user && @user.email %>">
    <br/>
  </div>

  <div> 
    <label for"password"> Password </label>
    <input id="password" type="password" name="password" placehholder="Your Password" class="form-control" value="<%= @user && @user.password %>">
    <br/>
  </div>

  <div> 
    <input type="submit" value="Submit"> 
  </div>

</form>
